@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: url(RXTgOOQ9AAtaVOHxx0IUBAa3ceFz9lRYw95MoJAI43o.eot);
  src: local('Architects Daughter'), local('ArchitectsDaughter'), url(RXTgOOQ9AAtaVOHxx0IUBAa3ceFz9lRYw95MoJAI43o.eot) format('embedded-opentype'), url(RXTgOOQ9AAtaVOHxx0IUBOkI_DLF4EgbZt3mhU8gQFo.woff) format('woff');
}
